@{
    ViewData["Title"] = "Home Page";
}
@inject ChatManager ChatManager
@inject UserMessageContext UserMessageContext


<input id="Username" type="hidden" value="@ViewBag.Username" />
<div class="">
    <div class="row">
        <div class="col-lg-9">
        <h5>Messages</h5>
            <ul id="messagesList" class="list-group">

                @foreach (var item in UserMessageContext.GetMessages(ViewBag.Username))
                {
                    <li class="list-group-item">@ViewBag.Username : @item.Message</li>
                }

            </ul>
            <input class="form-control mt-3 btn-outline-light" id="messageInput" placeholder="Type message here..." />
        </div>

        <div class="col-lg-3">
            <h5>Online Users</h5>
            <ul id="onlineUsers">
               @foreach (var item in UserMessageContext.GetAllUserNames())
                {
                    <li class="list-group-item">@item</li>
                }

            </ul>
        </div>

    </div>
    <div class="container">
    <h5 class="mt-3">Chat Instructions</h5>
    <ul>
        <li>By default all messages will be sent to a public group</li>
        <li>"Ctrl + c" to silence group messages</li>
        <li>"Ctrl + x" to silence all but current private channel</li>
        <li>"<username>/" to start a new private channel</li>
    </ul>
    </div>
</div>


<!--

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul class="list-group" id="messagesList"></ul>
    </div>
</div>
-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


